html{
    background-color: gold;
}

header{
    text-align: center;
    background-color: brown;
    margin: 10px;
    padding:10px;
}
header img{
    height: 200px;
    width: 300px;
}
nav a{
    font-family:Audiowide;
    padding: 5px 15px;
    color: goldenrod;
    text-decoration: none;
    border-radius: 20px 0px 20px 0px;
    transition: 1s;
    font-size: 25px;
}
nav a:hover{
    color: gold;
    background-color: rgb(0, 0, 0);
    border-radius: 30px 30px 0px 0px;
    box-shadow: 3px 5px 5px 5px rgb(0, 0, 0);
    padding: 7px 20px;
    transition: 0,5s;
}
